.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

**/doc/api/

app.*.symbols
app.*.map.json

/android/app/debug
/android/app/profile
/android/app/release

/assets/xray
/android/app/src/main/jniLibs
